    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
    }
    
    input,
    button {
        border: none;
        outline: none;
        background: none;
    }
    
    .cont {
        max-width: 90%;
        overflow: hidden;
        position: relative;
        width: 900px;
        height: 550px;
        background: cornsilk;
    }
    
    .form {
        position: relative;
        width: 100%;
        height: 100%;
        background: pink;
        padding: 20px;
        box-shadow: 0 8px 16px white;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out
    }
    
    .form h2 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    
    label1 {
        display: block;
        width: 260px;
        margin: 25px auto;
        text-align: center;
    }
    
    label span {
        font-size: 14px;
        font-weight: 600;
        color: violet;
        text-transform: uppercase;
    }
    
    input {
        display: block;
        width: 100%;
        margin-top: 5px;
        font-size: 16px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(109, 93, 93, 0.4);
        text-align: center;
        font-family: 'Nunito', sans-serif;
    }
    
    button {
        display: block;
        margin: 0 auto;
        width: 260px;
        height: 36px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    
    .sumbit {
        margin-top: 40px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    }
    
    .sumbit:hover {
        background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    }
    
    .forgot.pass {
        margin-top: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: white;
    }
    
    .forgot.pass:hover {
        color: red
    }
    
    .sub.const {
        overflow: hidden;
        position: absolute;
        left: 640px;
        top: 0;
        width: 900px;
        height: 100%;
        padding-left: 280px;
        background: #fff;
    }
    
    .img {
        overflow: hidden;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
    }
    
    .img:before {
        right: 0;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
    }
    
    .img:before {
        right: 0;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
    }